<server description="Intro REST Guide Liberty server">
    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
    </featureManager>

    <httpEndpoint httpPort="8081" httpsPort="8444"
                  id="defaultHttpEndpoint" host="*" />

    <webApplication location="wetterWeb.war" contextRoot="wetter"/>
</server>